<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Top: Kondate</title>

<style>
  table,
  th,
  td {
    border: 1px solid;
  }
</style>

<h1>Kondate</h1>
<hr />

<table>
  <thead>
    <tr>
      <th>料理名</th>
      {% for chomiryo in chomiryo_list %}
      <th>{{chomiryo["display"]}}</th>
      {% endfor %}
      <th>参考レシピ</th>
    </tr>
  </thead>
  <tbody>
    {% for recipe in recipes %}
    <tr>
      <td>
        <a href="./recipes/{{recipe.id}}">{{recipe.name}}</a>
      </td>
      {% for chomiryo in chomiryo_list %} {% set key = chomiryo["key"] %}
      <td>{{recipe[key] if recipe[key] > 0}}</td>
      {% endfor %}
      <td>
        {% if recipe.reference_url %}
        <a href="{{recipe.reference_url}}">Link</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
（単位は小さじ）<br />

<a href="./recipes/create">レシピを追加</a>

<hr />

<a href="./">Home</a>
