<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<h1>Kondate</h1>

<ul>
  {% for recipe in recipes %}
  <li>
    {{recipe.name}}
    <form action="./recipes/delete" method="post">
      <input type="hidden" name="key" value="{{recipe.id}}" />
      <input type="submit" value="削除" />
    </form>
  </li>
  {% endfor %}
</ul>

<form action="./recipes/create" method="post">
  <input type="txt" name="name" />
  <input type="submit" value="追加" />
</form>

<a href="/">Home</a>
