<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>レシピの追加: Kondate</title>

<h1><a href="../">Kondate</a>: Create a New Recipe</h1>

<hr />

<form action="./create" method="post">
  料理名: <input name="name" type="txt" /><br />

  <table>
    <tbody>
      {% for chomiryo in chomiryo_list %}
      <tr>
        <td>{{chomiryo["display"]}}:</td>
        <td>
          <input
            name="{{chomiryo['key']}}"
            type="number"
            min="0"
            max="36"
            value="0"
          />
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  小さじ 3 = 大さじ 1<br />

  メモ:<br />
  <textarea name="memo" rows="5"></textarea><br />

  <input type="submit" value="追加" />
</form>

<hr />

<a href="../">Home</a>
