<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>レシピの編集: Kondate</title>

<h1><a href="../">Kondate</a>: 「{{recipe.name}}」のレシピを編集</h1>

<hr />

<form action="./{{recipe.id}}" method="post">
  料理名: <input name="name" type="txt" value="{{recipe.name}}" /><br />

  <table>
    <tbody>
      {% for chomiryo in chomiryo_list %}
      <tr>
        <td>{{chomiryo["display"]}}:</td>
        <td>
          <input
            name="{{chomiryo['key']}}"
            type="number"
            min="0"
            max="36"
            value="{{recipe[chomiryo['key']]}}"
          />
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  小さじ 3 = 大さじ 1<br />

  メモ:<br />
  <textarea name="memo" rows="5" value="{{recipe.memo}}"></textarea><br />

  参考 URL:
  <input
    name="reference_url"
    type="txt"
    value="{{recipe.reference_url}}"
  /><br />

  <input type="submit" value="更新" />
</form>

<hr />

<a href="../">Home</a>
