<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<h1><a href="../">Kondate</a>:「{{recipe.name}}」のレシピ</h1>

<hr />

<h2>調味料</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th>分量（小さじ）</th>
    </tr>
  </thead>

  <tbody>
    {% if recipe.shoyu > 0 %}
    <tr>
      <td>醤油</td>
      <td>{{recipe.shoyu}}</td>
    </tr>
    {% endif %} {% if recipe.sato > 0 %}
    <tr>
      <td>砂糖</td>
      <td>{{recipe.sato}}</td>
    </tr>
    {% endif %} {% if recipe.mirin > 0 %}
    <tr>
      <td>みりん</td>
      <td>{{recipe.mirin}}</td>
    </tr>
    {% endif %} {% if recipe.shio > 0 %}
    <tr>
      <td>塩</td>
      <td>{{recipe.shio}}</td>
    </tr>
    {% endif %} {% if recipe.su > 0 %}
    <tr>
      <td>酢</td>
      <td>{{recipe.su}}</td>
    </tr>
    {% endif %} {% if recipe.sake > 0 %}
    <tr>
      <td>さけ</td>
      <td>{{recipe.sake}}</td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% if recipe.memo %}
<h2>メモ</h2>
<p>{{recipe.memo}}</p>
{% endif %}

<h2>その他</h2>
<p>作成日: {{recipe.created_date}}</p>
<p>id: {{recipe.id}}</p>
<form action="./delete" method="post">
  <input type="hidden" name="id" value="{{recipe.id}}" />
  <input type="submit" value="レシピを削除" />
</form>

<hr />

<a href="../">Home</a>
