<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>「{{recipe.name}}」のレシピ: Kondate</title>

<style>
  table,
  th,
  td {
    border: 1px solid;
  }
</style>

<h1><a href="../">Kondate</a>:「{{recipe.name}}」のレシピ</h1>

<hr />

<h2>調味料</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th>分量（小さじ）</th>
    </tr>
  </thead>

  <tbody>
    {% for chomiryo in chomiryo_list %} {% if recipe[chomiryo["key"]] > 0 %}
    <tr>
      <td>{{chomiryo["display"]}}</td>
      <td>{{recipe[chomiryo["key"]]}}</td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>

{% if recipe.memo %}
<h2>メモ</h2>
<p>{{recipe.memo}}</p>
{% endif %}

<h2>その他</h2>
<p>作成日: {{recipe.created_date}}</p>
<p>id: {{recipe.id}}</p>
<form action="./delete" method="post">
  <input type="hidden" name="id" value="{{recipe.id}}" />
  <input type="submit" value="レシピを削除" />
</form>

<hr />

<a href="../">Home</a>
